body {
    font-family: Arial, sans-serif;
    background:linear-gradient(to right,rgb(231, 221, 224),rgb(250, 198, 152));
    
}
.todo-container {
    
     background: linear-gradient(to right,rgb(242, 242, 240),rgb(244, 72, 153));
    padding: 20px;
    border-radius: 8px;
    box-shadow: 8px 8px 8px rgb(249, 130, 2);
    width: 95%;
    transition:all 0.3s ease-in-out;
    align-items: center;
    justify-content: center;
    
  
}
.input-area {
    display: flex;
    gap: 10px;
    /* margin-bottom: 20px; */
}
input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
}
button:hover 
{ 
    
    background-color: #218838;
    transition: background-color 0.3s;
    transform: rotateX(15deg);

 }
ul { list-style: none; padding: 0; }
li {
    background: #f9f9f9;
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-left: 5px solid #007bff;
}
.delete-btn {
    background-color: #dc3545;
    padding: 4px 8px;
    font-size: 12px;
}
.delete-btn:hover { 
    background-color: #c82333;
    transition: background-color 0.3s;
transform: rotateX(15deg);
}